header{
    color: white;
    position: relative;
    z-index: 5;

}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2em;

}
header .logo{
    font-family: sans-serif;
    color: white;
    font-family: helvetica;
    font-size: 1.7em;
}
header span{
    font-size: 2em;
    color: red;
    font-family: fantasy;
}
.navbar{
    /* margin-top: 2.3em; */
    padding-top: 1em;

}
.navbar li{
    display: inline;
    list-style: none;
    margin-left: 1.8em;
    font-size: 1.5em;
    margin-top: 2em;



}
.navbar a{
    text-transform: capitalize;
    color:  white;
    text-decoration: none;
    font-family: helvetica;
    padding-top: 1em;

}

.navbar a:hover{
    transition: 2s;

}

#section1{
    display: flex;
    justify-content: center;
    align-items: center;

}

.innersection{
    margin-top: 9.9em;
    min-width: 55%;
    border-radius: 3em;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-block: 5em;
    
}

.innersection .head{
    text-transform: capitalize;
    font-size: 3.4em;
    padding-bottom: 1em;
}

.innersection p{
    /* padding-top: 1em; */
    font-size: 1.2em;
    line-height: 1.7;
    font-family: monospace;
    padding-bottom: 1em;

}
.btn{
    padding:.4em 4.3em .4em 4.3em ;
    font-size: 1.3em;
    margin-top: 1.2em;
    background-color: red;
    border: none;
    color: white;
    border-radius: 7px;
    font-family: helvetica;
}


@media(max-width:768px){

        header .navbar{
            display: none;
        }
        
.innersection{
    margin-top: 3.9em;
    min-width: 55%;
    border-radius: 3em;
    background-color: rgba(0, 0, 0, 0.1);
    padding-block: 1em;
}
header{
    min-height: 600px;
}
.innersection .head{
    text-transform: capitalize;
    font-size: 2.4em;
    padding-bottom: 1em;
}
}